.App {
  display: flex;
}

.events {
  flex: 3;
  height: 100vw;
  overflow: scroll;
}

.form {
  background-color: navy;
  text-align: center;

  p {
    display: inline-block;
    color: #fff;
    font-weight: bold;
  }

  input,
  button {
    height: 1.6em;
    margin-left: 5px;
  }
}

.error {
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid red;
  padding: 10px 5px;
  margin: 0;
}

.eventList {
  padding: 0;
}

.eventListItem {
  margin-right: 5px;
  position: relative;
  padding: 0;
  padding-right: 15px;
  display: flex;
  margin: 0;

  &:nth-child(2n) {
    background-color: #eee;
    margin: 2px 0;
  }

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  a {
    display: inline-block;
  }

  h3 {
    margin-top: 5px;
  }

  .imgCont {
    width: 100px;
    min-width: 100px;

    img {
      height: auto;
      width: 100%;
    }
  }

  .eventInfo {
    margin-left: 10px;
  }

  .timeslot {
    border: 1px solid black;
    border-radius: 1px;
    padding: 2px;
    display: inline-block;
    line-height: 0.9em;
  }
}

.eventDesc {
}

.eventSum {
}

.eventDetail {
  display: flex;
  font-size: 0.8em;
}

.label {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.detail {
  display: inline-block;
}

#map {
  flex: 2;
  background-color: #eee;
  height: 100vw;
}
