.App {
  display: flex;
}

.events {
  flex: 3;
}

.eventList {
  list-style-type: none;
}

.eventListItem img {
  height: 50px;
  width: auto;
}

.eventDesc {
}

.eventSum {
}

.eventDetail {
}

.label {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.detail {
  display: inline-block;
}

.map {
  flex: 2;
  background-color: #eee;
}
