.App {
  display: flex;
}

.events {
  flex: 3;
  height: 100vw;
  overflow: scroll;
}

.eventList {
  padding: 15px;
}

.eventListItem {
  margin: 5px;

  img {
    height: 50px;
    width: auto;
  }

  & + .eventListItem {
    border-top: 1px solid black;
  }
}

.eventDesc {
}

.eventSum {
}

.eventDetail {
}

.label {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.detail {
  display: inline-block;
}

.map {
  flex: 2;
  background-color: #eee;
  height: 100vw;
}
