.App {
  display: flex;
}

.events {
  flex: 3;
  height: 100vw;
  overflow: scroll;
}

.eventList {
  padding: 0;
}

.eventListItem {
  margin-right: 5px;
  position: relative;
  padding: 0;
  padding-right: 15px;
  display: flex;

  &:nth-child(2n) {
    background-color: #eee;
  }

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  a {
    display: inline-block;
  }

  h3 {
    margin-top: 5px;
  }

  .imgCont {
    width: 100px;
    min-width: 100px;

    img {
      height: auto;
      width: 100%;
    }
  }

  .eventInfo {
    margin-left: 10px;
  }
}

.eventDesc {
}

.eventSum {
}

.eventDetail {
}

.label {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.detail {
  display: inline-block;
}

#map {
  flex: 2;
  background-color: #eee;
  height: 100vw;
}
